.modal {
	z-index: 20;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: clamp(300px, 90vw, 700px);
	box-sizing: border-box;
	padding: 1.5rem 1rem 3rem;
	border-radius: 1rem;

	display: flex;
	flex-direction: column;

	background-color: var(--color-light-1);
	box-shadow: 0 0 10px #00000035;

	animation: fade 0.3s ease-in-out alternate both;

	.close {
		position: absolute;
		top: 5%;
		right: 2.5%;
		color: var(--color-light-1);
		width: 2rem;
		height: 2rem;

		border-radius: 50%;
		cursor: pointer;
	}

	h3 {
		font: bold 1.5rem var(--font-1);
		letter-spacing: 0.5px;
		margin: 0 0 30px 0;
	}

	button {
		width: 100%;
		padding: 0.4rem 0;
		border: none;
		border-radius: 4px;

		background: linear-gradient(110deg, var(--color-main-1), var(--color-main-2));
		background-size: 150%;

		font: 16px var(--font-1);
		letter-spacing: 0.5px;
		color: var(--color-light-1);

		cursor: pointer;
		transition: all 0.3s ease-in-out;

		&:hover {
			background-position: right;
		}
	}

	&.collab-modal,
	&.reminder-modal {
		form {
			width: 100%;

			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 1.5rem;

			div {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 1rem;

				label {
					font: 1.2rem var(--font-1);
				}

				input {
					padding: 0 1rem;
					font: 1rem var(--font-1);
					height: 2rem;
					width: 90%;
					border: 1px solid var(--color-dark-06);
					border-radius: 4px;

					&::placeholder {
						font: 1rem var(--font-1);
					}
				}
			}
		}
	}

	&.update-modal {
		form {
			width: auto;
			border-radius: 8px;
			border: 1px solid var(--color-dark-3);
			display: flex;
			flex-direction: column;
			gap: 10px;
			padding: 10px;

			div {
				input,
				textarea {
					width: 100%;
					border: none;
					overflow: visible;
					background-color: transparent;
					color: var(--color-dark-1);

					&:focus {
						outline: none;
					}

					&::placeholder {
						letter-spacing: 0.5px;
						color: #0000007c;
					}
				}

				textarea {
					font: 16px var(--font-1);
					resize: none;
				}
			}

			div:nth-child(1) {
				border-bottom: 2px solid #0000003d;
				& input {
					height: 24px;
					font: 20px var(--font-1);
					&::placeholder {
						font: 20px var(--font-1);
					}
				}
			}

			div:nth-child(2) {
				& input {
					min-height: 24px;
					font: 18px var(--font-1);
					&::placeholder {
						font: 18px var(--font-1);
					}
				}
			}

			button {
				padding: 6px;
				border: none;
				border-radius: 4px;
				background: linear-gradient(110deg, var(--color-main-1), var(--color-main-2));
				background-size: 200%;

				font: 16px var(--font-1);
				letter-spacing: 0.5px;
				color: var(--color-light-1);

				cursor: pointer;
				transition: all 0.5s ease;

				&:hover {
					background-position: right;
				}
			}
		}
	}
}
