header {
	.vertical {
		box-sizing: border-box;
		z-index: 10;
		position: fixed;

		display: flex;
		flex-direction: column;
		gap: 5vh;

		height: 100vh;
		width: clamp(200px, 18vw, 250px);
		padding: 20px 15px;

		box-shadow: 0 0 10px var(--color-dark-03);
		background: linear-gradient(45deg, var(--color-main-2), var(--color-main-1));
		color: var(--color-light-1);

		transition: all 0.5s ease-in-out;

		div {
			h1 {
				font: bold 24px var(--font-1);
				margin-bottom: 20px;
				text-shadow: 2px 2px 4px var(--color-dark-05);
			}

			#nav-toggle {
				position: absolute;
				right: calc(0.8vw + 4px);
				top: calc(0.8vw + 4px);

				padding: 5px;
				border-radius: 4px;

				background-color: var(--color-light-03);
				fill: var(--color-light-1);
				cursor: pointer;

				transition: all 0.5s ease;

				&:hover {
					background-color: var(--color-light-06);
				}
			}
		}

		nav {
			display: flex;
			flex-direction: column;
			gap: 4vh;

			a {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 10px;
				border-radius: 5px;

				font: 18px var(--font-1);
				letter-spacing: 0.5px;
				text-decoration: none;
				color: var(--color-light-1);

				transition: all 0.5s ease;

				&.nav-active {
					background-color: var(--color-light-03);
				}

				&:hover {
					background-color: var(--color-light-06);
				}
			}
		}

		.logout {
			box-sizing: border-box;
			width: 100%;
			margin: auto 0 0 0;
			padding: 5px 10px;

			display: flex;
			justify-content: space-between;
			align-items: center;
			border-radius: 5px;

			font: 14px var(--font-1);
			letter-spacing: 0.5px;
			text-decoration: none;
			color: var(--color-light-1);

			background-color: var(--color-danger-03);
			transition: all 0.5s ease;

			&:hover {
				background-color: var(--color-danger-06);
			}
		}
	}

	.horizontal {
		box-sizing: border-box;
		z-index: 9;
		position: fixed;
		right: 0;

		display: flex;
		justify-content: center;

		width: calc(100vw - clamp(200px, 18vw, 250px));
		padding: 16px 30px;
		background: linear-gradient(90deg, var(--color-main-1), var(--color-main-2));
		background-size: 110%;
		box-shadow: 0 0 8px var(--color-dark-03);
		color: var(--color-light-1);

		transform: translateY(-2px);
		transition: all 0.5s ease-in-out;

		h1 {
			font: bold 20px var(--font-1);
			letter-spacing: 0.7px;
			text-transform: capitalize;
		}
	}
}
