@import "./global.css";

body {
	background-color: var(--color-light-2);
	font-family: var(--font-1);
}

header {
	box-sizing: border-box;
	z-index: 10;
	position: fixed;
	display: flex;
	flex-direction: column;
	gap: 5vh;

	height: 100vh;
	width: clamp(200px, 18vw, 250px);
	padding: 20px 15px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background: linear-gradient(110deg, var(--color-main-1), var(--color-main-2), var(--color-main-3));
	color: var(--color-light-1);

	transition: all 0.5s ease-in-out;

	&.closed {
		transform: translateX(-90%);
		border-radius: 0;
	}

	div {
		h1 {
			font: bold 24px var(--font-1);
		}

		span {
			position: absolute;
			right: 10px;
			top: 10px;

			width: 20px;
			height: 20px;
			border-radius: 50%;

			background-color: #ffffff48;
			cursor: pointer;
		}
	}

	nav {
		display: flex;
		flex-direction: column;
		gap: 2.5vh;

		a {
			display: block;
			padding: 5px 10px;
			border-radius: 5px;

			font: 20px var(--font-1);
			letter-spacing: 0.5px;
			text-decoration: none;
			color: var(--color-light-1);

			transition: all 0.5s ease;

			&:hover {
				background-color: #ffffff48;
			}
		}
	}

	> a {
		display: block;
		margin: auto auto 0;
		padding: 5px 15px;
		border: 2px solid rgb(255, 97, 97);
		border-radius: 5px;
		background-color: rgba(255, 97, 97, 0.367);

		font: 16px var(--font-1);
		letter-spacing: 1px;
		text-decoration: none;
		color: var(--color-light-1);

		transition: all 0.5s ease;

		&:hover {
			background-color: rgba(255, 97, 97, 0.788);
		}
	}
}

main {
	padding: 30px 50px;

	.container {
		display: flex;
		flex-direction: column;
		gap: 30px;
		padding: 20px;
		border-radius: 15px;
		background: var(--color-light-1);

		form {
			border-radius: 8px;
			border: 3px solid var(--color-dark-3);
			display: flex;
			flex-direction: column;
			gap: 10px;
			padding: 10px;

			div {
				input {
					border: none;
					overflow: visible;
					background-color: transparent;
					color: var(--color-dark-1);

					&:focus {
						outline: none;
					}

					&::placeholder {
						letter-spacing: 0.5px;
						color: #0000007c;
					}
				}
			}

			div:nth-child(1) {
				border-bottom: 2px solid #0000003d;
				& input {
					height: 24px;
					font: 20px var(--font-1);
					&::placeholder {
						font: 20px var(--font-1);
					}
				}
			}

			div:nth-child(2) {
				& input {
					min-height: 24px;
					font: 18px var(--font-1);
					&::placeholder {
						font: 18px var(--font-1);
					}
				}
			}

			button {
				padding: 6px;
				border: none;
				border-radius: 4px;
				background: linear-gradient(110deg, var(--color-main-1), var(--color-main-2), var(--color-main-3));
				background-size: 200%;

				font: 16px var(--font-1);
				letter-spacing: 0.5px;
				color: var(--color-light-1);

				cursor: pointer;
				transition: all 0.5s ease;

				&:hover {
					background-position: right;
				}
			}
		}

		.note {
			border-radius: 8px;
			border: 3px solid var(--color-dark-3);
			display: flex;
			flex-direction: column;
			gap: 10px;
			padding: 10px;

			h6 {
				border-bottom: 2px solid #0000003d;

				font: bold 20px var(--font-1);
				letter-spacing: 0.5px;
				color: var(--color-dark-1);
			}

			p {
				font: 18px var(--font-1);
				color: var(--color-dark-2);
			}
		}
	}
}
