@import "./global.css";

.pop-up {
	z-index: 20;
	position: fixed;
	bottom: 10px;
	right: 10px;
	max-width: 300px;

	display: flex;
	justify-content: center;
	align-items: center;

	box-sizing: border-box;
	padding: 10px 20px;
	border-radius: 8px 0 0 8px;

	transform: translateY(100%);
	animation: pop-up 0.3s ease;

	p {
		font: 14px var(--font-1);
		color: var(--color-dark-1);
		text-transform: capitalize;
		margin: 0;
	}

	&.success {
		background-color: var(--color-success-1);
	}

	&.error {
		background-color: var(--color-danger-1);
	}

	.pop-up.active {
		transform: translateY(0); 
		animation: pop-up-slide-in 0.3s ease forwards; 
	}

	@keyframes pop-up-slide-in {
		from {
				transform: translateY(100%);
		}
		to {
				transform: translateY(0);
		}
	}
}