@import "./global.css";

.pop-up {
	z-index: 20;
	position: fixed;
	bottom: 10px;
	right: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	box-sizing: border-box;
	padding: 10px 20px;
	border-radius: 8px 0 0 8px;

	transform: translateX(100%);
	animation: pop-up 8s both;

	p {
		font: 14px var(--font-1);
		color: var(--color-dark-1);
		text-transform: capitalize;
	}

	&.success {
		background-color: var(--color-success-1);
	}

	&.error {
		background-color: var(--color-danger-1);
	}
}
